@font-face {
	font-family: "CommitMono";
	src: url("/fonts/CommitMonoV87-450.otf");
	font-style: normal;
	font-weight: 400;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #c2c2c2;
}

.button_container {
	margin: 1rem;
	position: relative;
}

button {
	position: relative;
	font-family: CommitMono;
	font-size: 2rem;
	padding: 0.3rem 1rem;
	background-color: #fb503d;
	border: none;
	transition: 500ms cubic-bezier(0.3, 1.4, 0.6, 1);
	cursor: pointer;
	border-radius: 0rem;
	box-shadow: inset 1px 1px 4px #ffffff38, inset -1px -1px 4px #00000021;
}

button:hover {
	transform: scale(1.005) translateY(-0px);
	transition: 300ms cubic-bezier(0.3, 1.4, 0.6, 1);
}

button:active {
	transform: scale(0.99) translateY(0);
	opacity: 1;
	filter: brightness(1);
	transition: 50ms cubic-bezier(0.3, 1.4, 0.6, 1);
	box-shadow: inset 1px 1px 4px #00000021, inset -1px -1px 4px #ffffff38;
}
