@font-face {
	font-family: "CommitMono";
	src: url("/fonts/CommitMonoV87-450.otf");
	font-style: normal;
	font-weight: 400;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #c2c2c2;
}

.button_container {
	margin: 1rem;
	position: relative;
}

button {
	position: relative;
	font-family: CommitMono;
	font-size: 2rem;
	text-transform: uppercase;
	padding: 0.3rem 1rem;
	line-height: 1.1;
	background-color: #fb503d;
	border: 3px solid #000000;
	transition: 500ms cubic-bezier(0.3, 1.4, 0.6, 1);
	top: 0px;
	cursor: pointer;
	border-radius: 999rem;
	box-shadow: 0 0.5rem 0.5rem #0000002c;
}

button:hover {
	transform: scale(0.99);
}

button:active {
	transform: scale(0.96) translateY(2px);
	opacity: 0.9;
	transition: 70ms cubic-bezier(0.3, 1.4, 0.6, 1);
	box-shadow: 0 0.3rem 0.4rem #0000004f;
}
