@font-face {
	font-family: "CommitMono";
	src: url("/fonts/CommitMonoV97-450.otf");
	font-style: normal;
	font-weight: 400;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	color: #aaa;
	background-color: #111;
}

body {
	background-color: #aaa;
	font-family: CommitMono;
}

.button_container {
	margin: 1rem;
	position: relative;
}

button {
	position: relative;
	font-family: inherit;
	font-size: 2rem;
	line-height: 1.1;
	background-color: transparent;
	border: none;
	color: #000;
	cursor: pointer;
}

button::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	height: 2px;
	z-index: -1;
}

button:hover {
	background-color: #000;
	color: #aaa;
	/* animation: 200ms infinite steps(2, jump-none) flicker; */
}

@keyframes flicker {
	0% {
		border: 1px solid #0000;
	}
	100% {
		border: 1px solid #000;
	}
}

button:active,
button:focus-visible:active {
	background: repeating-conic-gradient(#000 0% 25%, transparent 0% 50%, #000 0% 75%) 50% / 4px 4px;
}

button:active::before,
button:focus-visible:active::before {
	visibility: hidden;
}

button:focus-visible {
	outline: none;
	background-color: #000;
	color: #aaa;
}

@keyframes focus_animation {
	0% {
		background-color: #0000;
	}
	10%,
	100% {
		background-color: #000;
	}
}

p {
	font-size: 12px;
}

#checker {
	width: 1000px;
	aspect-ratio: 1/1;
	background: repeating-conic-gradient(#000 0% 25%, transparent 0% 50%, #000 0% 75%) 50% / 50px 50px;
}

.fill {
	font-size: 20px;
}

.fill::before {
	content: "░░░░░░░░";
}
