button {
    vertical-align: top;
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: 0.75rem;
    font-variation-settings: inherit;
    line-height: 1rem;
    width: max-content;
    white-space: nowrap;
    text-align: left;
    position: relative;
    font-feature-settings: inherit;
}

button:active {
    background: var(--bg75);
}

#app_root.no_focus {
    opacity: 0.5;
}

:focus,
input:focus + label {
    animation: flicker 50ms 2;
}

@keyframes flicker {
    0%,
    49% {
        opacity: 0;
    }
    50%,
    100% {
        opacity: 1;
    }
}

@keyframes flicker_reverse {
    0%,
    49% {
        opacity: 1;
    }
    50%,
    100% {
        opacity: 0;
    }
}

.top_container p {
    white-space: pre-wrap;
}

.line-through {
    text-decoration: line-through;
}

h2 {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: normal;
    width: fit-content;
    font-variation-settings: "wght" 700;
}

a,
a:visited {
    color: var(--text);
}

p:focus a,
a:focus {
    text-decoration: none;
    background-color: var(--text);
    color: var(--bg);
    text-decoration: none;
}

#click_focus,
#change_setting {
    inset: 0;
    position: fixed;
    z-index: 999;
    display: grid;
    place-content: center;
    visibility: hidden;
    pointer-events: none;
}

.span_key.pressed_key {
    position: relative;
    background: var(--bg25);
}

ul:focus .span_key.pressed_key {
    background: var(--bg25-i);
}

.span_key.pressed_key::after {
    content: " ✓";
    position: absolute;
    right: -1ch;
    top: -0.5rem;
}

#keyboard_container.use_keyboard_animation {
    animation: flicker 140ms 8;
}
