#original figure > div,
#smart_kerning figure > div {
    display: flex;
}

#original p,
#smart_kerning p {
    font-size: 24rem;
    line-height: 1;
    position: relative;
    border-right: 0.0625rem solid var(--text);
    border-left: 0.0625rem solid var(--text);
    margin-left: -0.0625rem;
}

#original p::after,
#smart_kerning p::after {
    font-size: 0.75rem;
    text-align: center;
    display: block;
    width: 100%;
}

#original p:nth-child(1)::after,
#smart_kerning p:nth-child(1)::after {
    content: "Wide letter";
}

#original p:nth-child(2)::after {
    content: "Smart kerning OFF";
}

#smart_kerning p:nth-child(2)::after {
    content: "Smart kerning ON";
}

#original p:nth-child(3)::after,
#smart_kerning p:nth-child(3)::after {
    content: "Narrow letter";
}

#smart_kerning p:nth-child(2) {
    transform: translateX(calc(24rem / 1000 * 37));
    border-right: 0.0625rem solid transparent;
    border-left: 0.0625rem solid transparent;
}

#intelligent_container figure > div:focus p {
    border-right: 0.0625rem solid var(--bg);
    border-left: 0.0625rem solid var(--bg);
}

#intelligent_container figure > div:focus p:nth-child(2) {
    border-right: 0.0625rem solid transparent;
    border-left: 0.0625rem solid transparent;
}

#before p,
#after p {
    font-size: 8rem;
    line-height: 1;
    max-width: none;
    white-space: nowrap;
}

#before p {
    font-feature-settings: "ss05" 0;
}

#after p {
    font-feature-settings: "ss05" 1;
}

#intelligent_form fieldset {
    border: none;
    display: flex;
    gap: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    background-color: var(--bg);
    width: max-content;
}

#intelligent_form > div {
    position: relative;
}

#intelligent_form input {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--text);
    margin: 0;
    padding: 0;
    border: none;

    color: var(--text);
    width: 0;
    height: 0;
    position: relative;
    opacity: 1;
    display: block;
}

#intelligent_form input + label {
    position: relative;
    z-index: 1;
}

#intelligent_form input + label::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--bg);
}

#intelligent_form input:focus:checked + label::before {
    background-color: var(--text);
}

#intelligent_form input:focus:checked + label {
    color: var(--bg);
}

#intelligent_form input:checked + label::before {
    background: var(--bg25);
}

#intelligent_form input:checked + label {
    color: var(--text);
}
