#keyboard_container {
	font-size: 0.75rem;
	display: flex;
	width: max-content;
	gap: 4ch;
	align-items: end;
}

.key_group {
	display: flex;
	flex-direction: column;
}

.keys {
	font-size: 0.75rem;
	display: flex;
	gap: 0.375ch;
	margin-bottom: 0.125rem;
}

.key {
	font-size: 0.75rem;
	height: 1.2rem;
	border: 0.0625rem solid var(--text);
	border-bottom: 0.125rem solid var(--text);
	display: grid;
	place-content: center;
	padding: 0 0.25rem;
	user-select: none;
}

.key:hover {
	cursor: pointer;
}

.key[data-noclick="true"]:hover {
	cursor: not-allowed;
}

.key.active_key,
.key:active {
	background: var(--text);
	color: var(--bg);
	height: 1.1rem;
	margin-top: 0.1rem;
}

#select_element .key:nth-child(1) {
	width: 5rem;
}

#escape_textfield .key:nth-child(2) {
	letter-spacing: -0.1rem;
	text-indent: -0.1rem;
	padding: 0.25rem;
}

#safari:focus p:first-of-type {
	background-color: var(--text);
	color: var(--bg);
}

#safari p,
#safari ul {
	background-color: var(--bg);
	color: var(--text);
	opacity: 0;
}

#safari {
	background-color: var(--bg);
	color: var(--text);
}

#safari:focus p,
#safari:focus ul {
	opacity: 1;
}

#safari:focus a,
#safari a:focus {
	opacity: 1;
}

#safari a {
	opacity: 0;
}

#safari p:first-of-type {
	opacity: 1;
}

#safari:has(*:focus) * {
	opacity: 1;
}

#safari #safari_not_working:focus {
	background-color: var(--text);
	color: var(--bg);
	opacity: 1;
}

#safari #safari_not_working {
	opacity: 0;
}

#safari a:focus + #safari_not_working {
	visibility: hidden;
}

#section_1 li {
	margin-top: 0;
}

.span_key {
	border: 0.0625rem solid var(--text);
	border-bottom: 0.125rem solid var(--text);
	padding: 0 0.5ch;
	margin: 0 0.0625rem;
}

ul:focus .span_key {
	border: 0.0625rem solid var(--bg);
	border-bottom: 0.125rem solid var(--bg);
}
