#section_9 .content_container {
	margin-top: 0rem;
}

h2 {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: normal;
	width: fit-content;
}

ul {
	list-style-type: none;
}

ol li {
	font-size: 0.75rem;
	line-height: 1rem;
	margin-left: 3ch;
	max-width: 54ch;
	width: fit-content;
}

ol li::before {
	display: none;
}

ul li {
	font-size: 0.75rem;
	line-height: 1rem;
	margin-left: 2ch;
	max-width: 54ch;
	width: fit-content;
}

ul li::before {
	content: "• ";
	position: absolute;
	margin-left: -2ch;
}

ul li:focus::before {
	background-color: transparent;
	color: var(--text);
}

a,
a:visited {
	color: var(--text);
}

a:focus {
	text-decoration: none;
	background-color: var(--text);
	color: var(--bg);
	text-decoration: none;
}
