#waterfall {
    display: flex;
    width: min-content;
    gap: 2rem;
}

.waterfall_texts_container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 10rem;
}

.waterfall_texts_container > div {
    height: 2.5rem;
    display: flex;
    align-items: end;
}

.waterfall_text {
    line-height: 0.6;
    white-space: pre;
}

.waterfall_desc {
    width: max-content;
    white-space: pre;
}

.question_container {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    gap: 2ch;
    position: relative;
    margin-top: 1rem;
}

.question_character.hide_character {
    opacity: 1;
    animation: 0ms 0s 3 forwards flicker_reverse;
}

.question_character.show_character {
    opacity: 0;
    animation: 100ms 0s 3 forwards flicker;
}

.button_container button {
    display: block;
}

:root {
    --question-character-size: 2rem;
}

.question_character {
    font-size: var(--question-character-size);
    line-height: var(--question-character-size);
    border: 0.0625rem solid var(--text);
    position: relative;
}
.question_character::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    /* height: 0.0625rem; */
    background-color: var(--text);
}

#score_points {
    display: none;
}
#score_points.view_score {
    display: block;
}

.question_button:focus::before,
.question_button:hover::before {
    content: "<-";
    position: absolute;
    left: -2ch;
    color: var(--text);
}
.question_button:hover {
    background: var(--bg50);
    color: var(--bg);
    cursor: pointer;
    text-decoration: none;
}
.question_button.right_button::before {
    content: "<-";
    position: absolute;
    left: -2ch;
    color: var(--text);
}
.question_button.wrong_button::before {
    content: "->";
    position: absolute;
    left: auto;
    right: -2ch;
    color: var(--text);
}

.question_button.button_choice {
    background: var(--bg25);
    color: var(--text);
    text-decoration: none;
}
.question_button.button_choice:focus {
    background: var(--bg75);
    color: var(--bg);
    text-decoration: none;
}
.question_button.button_choicent {
    text-decoration: none;
}

.answer_feedback {
    position: relative;
    font-size: 1.5rem;
    top: calc(var(--question-character-size) * 0.5);
    top: 40%;
    width: 0;
    margin-left: -1.5ch;
    margin-right: 0.5ch;
    left: 0;
    font-variation-settings: "wght" 350;
}

.question_container {
    pointer-events: none;
}

.question_container.active_question {
    pointer-events: auto;
}

.question_container.active_question:has(+ .active_question) {
    pointer-events: none;
}

.question_container.active_question ~ .question_container.active_question {
    pointer-events: auto;
    display: flex;
}

.question_container.active_question ~ .question_container {
    pointer-events: none;
    display: none;
}

#play_again {
    opacity: 0;
}

#score_tally:focus + #play_again,
#play_again:focus {
    opacity: 1;
}
