*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
:root {
   --text: #111;
   --middle: #555;
   --bg: #aaa;
   --max-width: 54ch;
   font-size: 16px;
}

::selection {
   color: var(--text);
   background-color: var(--middle);
}

#block_tab_start,
#block_tab_end {
   position: absolute;
   top: 0;
}

#main_scale {
   inset: 0;
   position: fixed;
}

main {
   min-width: 100vw;
   padding: 4rem 0 0 4ch;
}

header nav {
   width: max-content;
   padding: 1rem 4ch 0 4ch;
   background-color: var(--bg);
   z-index: 100;
   position: fixed;
   top: 0;
}

header #keyboard_section {
   width: 100%;
   padding: 0.25rem 0 1rem 4ch;
   background-color: var(--bg);
   z-index: 100;
   position: fixed;
   bottom: 0;
}

#keyboard_section.hidden {
   display: none;
}

#nav_form {
   display: flex;
   gap: 4ch;
   font-size: 0.75rem;
   line-height: 1rem;
}

#nav_form input {
   -webkit-appearance: none;
   appearance: none;
   width: 0;
   height: 0;
   opacity: 0;
}

#nav_form input + label {
   position: relative;
   z-index: 1;
}

#nav_form input + label::before {
   z-index: -1;
   content: "";
   position: absolute;
   inset: 0;
   background-color: var(--bg);
}

#nav_form input:focus:checked + label::before {
   background-color: var(--text);
}

#nav_form input:focus:checked + label {
   color: var(--bg);
}

#section_container {
   inset: 1rem 2rem;
}

p,
a,
figcaption,
button {
   font-size: 0.75rem;
   line-height: 1rem;
   max-width: var(--max-width);
   width: fit-content;
   vertical-align: top;
   color: inherit;
}

a,
.download_button {
   text-decoration: underline;
   text-decoration-skip-ink: none;
   text-underline-offset: 0.24ch;
   cursor: pointer;
}
a:focus,
.download_button:focus {
   text-decoration: none;
}

h1 {
   font-size: 1.5rem;
   line-height: 2rem;
   font-weight: normal;
   width: fit-content;
}

#click_focus,
#change_setting {
   inset: 0;
   position: fixed;
   z-index: 999;
   display: grid;
   place-content: center;
   visibility: hidden;
   pointer-events: none;
}

#content_root.faded {
   opacity: 0.33;
}

#mobile {
   visibility: hidden;
}

:focus {
   text-decoration: none;
   color: var(--bg);
   background-color: var(--text);
   outline: none;
}

ul li,
ol li {
   font-size: 0.75rem;
   line-height: 1rem;
   margin-left: 2ch;
   max-width: 54ch;
   width: fit-content;
}
